html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h6 {
  margin: 1em 0 2.5em;
  font-weight: bold;
}

a {
  color: #da6262;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: rgb(90, 182, 151);
}

.background,
.policy-background {
  width: 100%;
  height: 100%;
  background: url('./website_image_background.png');
  background-size: cover;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.policy-background {
  flex-direction: column;
}

.foreground {
  width: 70%;
  height: 90%;
  background: url('./website_image_foreground.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
}

.text {
  width: 100%;
  height: 20%;
  margin: 20% 10%;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.ios,
.android {
  height: auto;
  width: 20%;
  display: flex;
  z-index: 1;
  justify-content: center;
}

.ios img {
  height: 75px;
}

.android img {
  height: 110px;
}

.policy-content-wrapper {
  height: 90%;
  width: 50%;
}

.policy-content {
  height: calc(100% - 40px);
  background-color: #1a1e35;
  overflow-y: auto;
  padding: 10px 20px 30px;
  color: #c7c7c7;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
.policy-content::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}

.credits {
  font-size: 0.5em  ;
  width: 100%;
  height: 40px;
  text-align: center;
  margin-top: 20px;
  color: white;
}

.credit-line {
  display: block;
  margin-bottom: 6px;
}

.contact-us-content {
  background-color: #1a1e35;
  padding: 10px 20px 30px;
  color: #c7c7c7;
}

@media only screen and (max-width: 767px) {
  html,
  body {
    font-size: 1em;
  }

  .ios img {
    height: 60px;
  }

  .android img {
    height: 90px;
  }
}

@media only screen and (orientation: portrait) {
  .background {
    align-items: flex-start;
  }

  .foreground {
    width: 160%;
  }

  .text {
    width: 100%;
    height: 30%;
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
  }

  .ios, .android {
    height: 40%;
    width: 80%;
    display: flex;
  }

  .policy-content-wrapper {
    width: 90%;
  }

  @media only screen and (max-aspect-ratio: 1/1) and (min-aspect-ratio: 30/34) {
    .foreground {
      width: 80%;
    }
  }

  @media only screen and (max-aspect-ratio: 30/34) and (min-aspect-ratio: 30/38) {
    .foreground {
      width: 90%;
    }
  }

  @media only screen and (max-aspect-ratio: 30/38) and (min-aspect-ratio: 30/47) {
    .foreground {
      width: 100%;
    }
  }

  @media only screen and (max-aspect-ratio: 30/47) and (min-aspect-ratio: 30/51) {
    .foreground {
      width: 110%;
    }
  }

  @media only screen and (max-aspect-ratio: 30/51) and (min-aspect-ratio: 30/55) {
    .foreground {
      width: 120%;
    }
  }

  @media only screen and (max-aspect-ratio: 30/55) and (min-aspect-ratio: 30/59) {
    .foreground {
      width: 130%;
    }
  }

  @media only screen and (max-aspect-ratio: 30/59) and (min-aspect-ratio: 30/63) {
    .foreground {
      width: 140%;
    }
  }

  @media only screen and (max-aspect-ratio: 30/63) and (min-aspect-ratio: 30/67) {
    .foreground {
      width: 150%;
    }
  }
}
