html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h6 {
  margin: 1em 0 2.5em;
  font-weight: bold;
}

a {
  color: #da6262;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: rgb(90, 182, 151);
}

.background,
.policy-background {
  width: 100%;
  height: 100%;
  background: url('./website_image_background.png');
  background-size: cover;
  overflow: hidden;
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.policy-background {
  flex-direction: column;
}

.foreground {
  width: 70%;
  height: 90%;
  background: url('./website_image_foreground.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  text-align: center;
}

.menu {
  z-index: 1;
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 30px 0 0 0;
  margin: 0;
  font-size: 0.8em;
}

.menu .icon {
  display: flex;
  width: 1.2em;
  height: 1.2em;
  border: rgba(255, 255, 255, 0.2) 1px solid;
  border-radius: 4px;
}

.menu .icon.icon-ta {
  background: url('./ta_icon.png') no-repeat center center;
  background-size: contain;
}

.menu .icon.icon-bt {
  background: url('./bt_icon.svg') no-repeat center center;
  background-size: contain;
}

.menu li {
  display: flex;
  margin-right: 20px;
  padding-left: 4px;
  padding-right: 4px;
  padding-bottom: 4px;
  position: relative;
}

.menu li::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 1px;
  background-color: #da6262;
  transition: width 0.2s ease-in-out;
}

.menu li:hover::after {
  width: 100%;
}

.menu li a {
  text-decoration: none;
  display: flex;
  gap: 6px;
  align-items: center;
}

.text {
  width: 100%;
  margin: 20% 10%;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.ios {
  padding: 16px;
}

.ios,
.android {
  display: flex;
  z-index: 1;
  justify-content: center;
}

.ios img {
  height: 75px;
}

.android img {
  height: 110px;
}

.policy-content-wrapper {
  height: 90%;
  width: 50%;
}

.policy-content {
  height: calc(100% - 40px);
  background-color: #1a1e35;
  overflow-y: auto;
  padding: 10px 20px 30px;
  color: #c7c7c7;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
}
.policy-content::-webkit-scrollbar { /* WebKit */
  width: 0;
  height: 0;
}

.credits {
  font-size: 0.5em  ;
  width: 100%;
  height: 40px;
  text-align: center;
  margin-top: 20px;
  color: white;
}

.credit-line {
  display: block;
  margin-bottom: 6px;
}

.contact-us-content {
  background-color: #1a1e35;
  padding: 10px 20px 30px;
  color: #c7c7c7;
}

@media only screen and (max-width: 767px) {
  html,
  body {
    font-size: 1.1em;
  }

  .ios {
    padding-bottom: 0;
  }

  .ios img {
    height: 50px;
  }

  .android img {
    height: 66px;
  }

  .menu {
    flex-direction: column;
    gap: 8px;
  }

  .menu li::after {
    left: 0;
    transform: none;
  }

  .text {
    flex-direction: column;
    justify-content: flex-end;
    margin: 0;
  }
}

@media only screen and (orientation: portrait) {
  .foreground {
    width: 120%;
  }

  .policy-content-wrapper {
    width: 90%;
  }

  @media only screen and (max-aspect-ratio: 1/1) and (min-aspect-ratio: 30/34) {
    .foreground {
      width: 80%;
    }
  }

  @media only screen and (max-aspect-ratio: 30/34) and (min-aspect-ratio: 30/38) {
    .foreground {
      width: 90%;
    }
  }

  @media only screen and (max-aspect-ratio: 30/38) and (min-aspect-ratio: 30/47) {
    .foreground {
      width: 100%;
    }
  }

  @media only screen and (max-aspect-ratio: 30/47) and (min-aspect-ratio: 30/51) {
    .foreground {
      width: 100%;
    }
  }

  @media only screen and (max-aspect-ratio: 30/51) and (min-aspect-ratio: 30/55) {
    .foreground {
      width: 100%;
    }
  }

  @media only screen and (max-aspect-ratio: 30/55) and (min-aspect-ratio: 30/59) {
    .foreground {
      width: 110%;
    }
  }

  @media only screen and (max-aspect-ratio: 30/59) and (min-aspect-ratio: 30/63) {
    .foreground {
      width: 120%;
    }
  }

  @media only screen and (max-aspect-ratio: 30/63) and (min-aspect-ratio: 30/67) {
    .foreground {
      width: 120%;
    }
  }
}
